# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
*.env

# Jupyter
.ipynb_checkpoints/
.jupyter/

# Data & models
data/*.csv
data/*.parquet
data/*.xlsx
data/*.zip
data/*.json
data/*.feather
models/*.pkl
models/*.joblib
models/*.bin

# IDE
.vscode/
.idea/
